
	
	h1 {
		font-family: Georgia; color:#DC143C	 ;font-size: 60pt;font-weight: initial;
	}
	h2{
		font-family: Georgia; font-size: 24px; color: #00FFFF; font-weight: initial;
	}
	h2 span{

	}
	h3{
		color: #FF0000;line-height: 20px; font-weight: initial; line-height: 15px;
	}
	h3 span{
		color: #0000FF; font-size: 19px;
	}
	h4{
		font-size: 15px;font-family: Calibri;font-weight: initial;
	}
	h4 span{
		color: #0000FF ;
	}
	h5{
		font-size: 15px;font-weight: initial;
	}
	h6{
		font-size: 15px;font-weight: initial;
	}
